.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }

  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }

  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
    padding: 0 40px;
  }

  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .borderCircle {
    border-radius: 9999px;
  }

  .colorInherit {
    color: inherit;
  }

  .padding1px {
    padding-top: 1px;
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .listItem {
    margin: 0 0 1.25rem;
  }

  .lightText {
    color: #666;
  }
  .containerblog{
    width: 70%;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 16px; /* Space between grid items */
  }

  .listItem {
    list-style: none;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }

  .cardsm {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .cardsmLs {
    text-decoration: none;
    color: inherit;
  }

  .cardsmImage img {
    width: 100%;
    height: auto;
  }

  .cardsmContent {
    padding: 16px;
  }

  .cardsmTitle {
    font-size: 1.5em;
    margin: 0;
  }

  .cardsmDate {
    color: #666;
  }
